:root {
  --background: rgb(240, 240, 240);
  --background-modal:#fdfdfd;
  --background-darker: #cccccc;
  --text-light: #ffffff;
  --text-dark: #000000;
  --link: rgb(0, 153, 115);
  --light:#00cc99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  background: linear-gradient(
    to right,
    rgba(240, 240, 240, 0),
    rgba(240, 240, 240, 0.8)
  );
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 36px;
  z-index: 1000;
}

/* Navigation */
.main-navigation {
  display: flex;
  justify-content: flex-end;
  padding-right: 7%;
}
.navigation-list {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  list-style: none;
}
.main-navigation li a {
  text-decoration: none;
  color: var(--link);
  font-size: 18px;
  font-weight: 400;
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--link);
  cursor: pointer;
}
/* a:visited {
  text-decoration: line-through;
} */
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: -5px;
  background: var(--link);
  height: 2px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
.underline-modal {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline-modal:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: 0;
  background: var(--link);
  height: 2px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.underline-modal:hover:after,
.underline-modal:focus:after,
.underline-modal:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
.underline-inverse {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline-inverse:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  background: var(--link);
  height: 2px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.underline-inverse:hover:after,
.underline-inverse:focus:after,
.underline-inverse:active:after {
  right: 0;
  left: auto;
  width: 100%;
}

/* Button */
button,
.button {
  font-size: 16px;
  border: none;
  display: inline-block;
  background-color: var(--link);
  border-bottom: 2px solid var(--light);
  color: var(--text-light);
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  margin: auto;
  margin-bottom: 8px;
  opacity: 1;
  transition: transform 0.2s ease, background-color 0.1s ease;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 3px 3px var(--light);
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

section {
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  padding-top: 111px;
  margin: auto;
}

h1, h2 {
  width: 250px;
  margin: auto;
  font-weight: 400;
}
h1 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 44px;
  border: dotted 1px var(--text-dark);
  box-shadow: 0 0 5px var(--background-darker); 
}
h2 {
  font-family: 'Caladea', serif;
  font-size: 33px;
  margin-bottom: 33px;
}
h3{
  text-align: left;
  margin-bottom: 33px;
}
ul {
  list-style-type: circle;
}
li{
  margin-left: 17px;
  padding-left: 5px;
  text-align: left;
}
li::marker {
  color: var(--title-dark);
}

/* Grid and Text */
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.text-container-2third {
  grid-column: span 2;
  margin-bottom: 17px;
}
.aligned-left{
  text-align: left;
}
.justify{
  text-align: justify;
}
.centered{
  text-align: center;
}

/* Pictos */
.picto-container{
  width: 100%;
  height:50px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picto-container-left{
  width: 50px;
  height:50px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}
.picto{
  width: 50px;
  height:auto;
}
.picto-anime {
  position: absolute;
  max-width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.picto-hover {
  position: absolute;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.picto-container:hover .picto-anime {
  opacity: 0;
}
.picto-container:hover .picto-hover {
  opacity: 1;
}
.picto-container-left:hover .picto-anime {
  opacity: 0;
}
.picto-container-left:hover .picto-hover {
  opacity: 1;
}

/* WELCOME */
#welcome {
  height: 100vh;
  padding-top: 188px;
  max-width: 888px;
}
.grid-welcome{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-welcome p{
  text-align: left;
}
.logo{
  padding-top: 50px;
}
.logo img{
  height: 188px;
  width: auto;
}
.hello{
  font-size: 55px;
  font-family: 'Caladea', serif;
  line-height: 1.2em;
}
.typing-text {
  color: var(--text-dark);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(19) 1s forwards;
}
.social-media{
  margin-top: 33px;
  gap: 17px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media img {
  width: 33px;
  height: auto;
}
.social-media img:hover {
  opacity: 0.8;
}

/* PROJECTS */
#projects {
  width: 100%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7%;
  margin: 0 auto;
  padding: 0;
}
.grid_item {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #009973, #00cc99);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-light);
  font-weight: bold;
  transition: background-color 0.4s ease-in-out;
  border-radius: 10%;
}

.project-info {
  position: absolute;
  z-index: 2;
  padding: 20px;
}

.project-text{
  font-size: 39px;
  font-family: 'Caladea', serif;
  font-weight: 200;
}

.grid_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.grid_item:hover img {
  opacity: 1;
}

.grid_item:hover .project-info {
  opacity: 0;
}


/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 204, 153, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--background);
  padding: 33px 8%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar Chrome */
.modal-content:-webkit-scrollbar {
  display: none;
}

.modal-links {
  display: flex;
  flex-direction: row;
  margin: 25px auto;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
}

/* Accessibility */
.sr-only {
  overflow: hidden;
}

#modal-overview {
  font-size: 27px;
  font-family: 'Caladea', serif;
  color: var(--title-dark);
  margin-bottom: 17px;
}
.modal-text-block{
  margin: auto;
  padding: 5px 0;
}
.modal-text-block p {
  font-size: 17px;
  text-align: left;
}
.modal-content ul {
  text-align: left;
  line-height: 1.3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.modal-content li {
  font-size: 17px;
  list-style-type: disc;
  padding: 5px;
}
#modal-tech{
  margin-bottom: 15px;
}
.mobile{
  max-width: 288px;
  height: auto;
}
.modal-image {
  width: 100%;
  margin: auto;
  margin-top: 33px;
  margin-bottom: 22px;
  height: auto;
  border-radius: 12px;
  display: block;
}

.modal-navigation {
  cursor: pointer;
  width: 333px;
  margin: auto;
  font-size: 18px;
  display: flex;
}

.modal-navigation p{
  display: flex;
  padding: 6px;
  color: var(--link);
  font-size: 17px;
  font-weight: 400;
}

#modal-close-btn {
  height: 20px;
  width: 20px;
  margin: auto;
}
.close {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--link);
  border-radius: 50%;
  font-weight: 700;
  font-size: 33px;
  cursor: pointer;
  opacity: 1;
}
.close:hover {
  opacity: 0.7;
}

/* ABOUT */
#about{
  max-width: 1100px;
}
.image-round {
  border-radius: 50%;
}
.workshop{
  width: 222px;
  height: auto;
  animation: floating 5s ease-in-out infinite;
}
.portrait{
  width: 222px;
  height: auto;
  animation: floating 7s ease-in-out infinite;
}

/* Skills */
.skills-container {
  display: flex;
  align-items: center;
  gap: 33px;
  max-width: 768px;
  margin: auto;
}
.skills-list {
  flex: 1;
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* .text-container-2third p{
  margin-top: 0;
  margin-left: 0;
}
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-list {
  
} */

/* CONTACT */
/* #contact{
  max-width: 888px;
} */
.contact-form {
  margin: auto;
  max-width: 768px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-top {
  display: flex;
  gap: 15px;
}
.contact-name,
.contact-email {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#contact-name,
#contact-email {
  min-height: 30px;
}
#contact-message {
  min-height: 250px;
}

/* Style the inputs */
#contact-name,
#contact-email,
#contact-message {
  font-family: 'Caladea', serif;
  font-size: 15px;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  margin: 5px auto 17px;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  border: dotted 2px var(--text-dark);
}
#contact-name:focus,
#contact-email:focus,
#contact-message:focus {
  border-color: var(--link);
  box-shadow: 0 1px 5px rgba(10, 15, 122, 0.2); /* Adds a glow effect */
}

/* FOOTER */
footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
footer p {
  font-size: 14px;
  font-family: 'Caladea', serif;
  margin-bottom: 17px;
}
.back-to-top {
  font-size: 17px;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.logo-bas{
  height: 133px;
  width: auto;
}
.img-footer{
  width: 100vw;
  height: auto;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.img-footer img{
  width: 133px;
  height: auto;
  display: block;
}
.rotate{  
  animation: rotate 88s linear infinite;
  transform-origin: center center;
}
.rotate-inverse{  
  animation: rotateCounter 88s linear infinite;
  transform-origin: center center;
}

/* KEYFRAMES */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateCounter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes floating {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
.main-navigation {
  padding-right: 0;
}
/* Main */
h1 {
  font-size: 25px;
}
h2 {
  font-size: 27px;
}
li{
  margin-left: 17px;
  padding-left: 5px;
  text-align: left;
}
.grid-container {
  grid-template-columns: 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.text-container-2third {
  grid-column: 1fr;
}

/* Header */
header {
  background:
    rgba(241, 241, 241, 0.8);
}
.main-navigation {
  justify-content: center;
}
/* Welcome */
#welcome {
  padding-top: 44px;
  max-width: 888px;
}
.grid-welcome{
  grid-template-columns: 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo{
  margin-bottom: 44px;
}
.logo img{
  height: 133px;
}
.hello{
  font-size: 44px;
}

/* Projects */
#projects {
  width: 100%;
  max-width: 1280px;
}
.grid {
  grid-template-columns: 1fr;
  gap: 44px;
}
.project-text{
  font-size: 33px;
}

/* Modal */
#modal-overview {
  font-size: 25px;
  text-align: center;
}
.modal-links {
  font-size: 14px;
  gap: 17px;
  align-items: center;
}
.modal-content ul {
  grid-template-columns: 1fr;
  line-height: 1.2em;
}
.modal-navigation p{
  font-size: 15px;
}

/* About */
.skills-container {
  flex-direction: column;
}
}